body {
    background-color: #f0f1f1;
}
p {
    text-align: left;
    margin-left: 50px;
    color: #585c5f;
    size: 8px;
    padding: 30px;
}

h3{
    text-align: center;
    color: #7b8186;
    size: 10px;
    

}

h1{
    text-align: center;
    color: #000000;
    size: 12px;
    background-color: #c4c6c8;
    border-left-style:solid;
    border-right-style:solid;
    border-color: #585c5f;
    border-width: 5px;
}

h2{
    text-align: center;
    color: #000000;
    size: 11px;
    background-color: #c4c6c8;
    border-left-style:solid;
    border-color: #585c5f;
    border-width: 5px;
}


#wrapper {
    background-color:  #e1e2e4;
    overflow: hidden;
}
#div1 {
    display:inline-block;
    padding: 2%;
    width:45%;
    height: auto;
    text-align: center;
    float: left;
  
}
#div2 {
    display: inline-block;
    padding: 2%;
    width:45%;
    height: auto;
    text-align: center;
    float: right;
}

#div3 {
    display: inline-block;
    padding: 2%;
    width:100%;
    height: auto;
    text-align: center;
}

img {
    border-radius: 50%;
  }